@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=PT+Serif:ital@1&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --cor1: #4ab4b8;
    --cor2: #df93df;
    --cor3: #bf63bf;
    --cor4: #a032a0;
    --cor5: #800180;

    --font1: 'Cinzel', serif;
    --font2: 'PT Serif', serif;
}

body {
    background-color: var(--cor4);
}

#formulario {
    box-shadow: inset;
}

#login {
    display: block;
    position: absolute;
    background-color: white;
    width: 60vw;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#img{
    display: block;
    background: url(../imagens/padrao.jpg);
    height: 150px;
    background-position: center center;
    background-size: cover;
}

.formulario {
    padding: 5px;
}

#titulo {
    text-align: center;
    color: #4e044e;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

input[type=email]{
    display: block;
    border: none;
    background-color: var(--cor1);
    border-radius: 5px;
    border: 1px solid var(--cor5);
    width: 70%;
    padding: 3px;
}

input[type=password] {
    display: block;
    border: none;
    background-color: var(--cor1);
    border-radius: 5px;
    border: 1px solid var(--cor5);
    width: 70%;
    padding: 3px;
}

.label {
    display: block;
    margin-right: 10px;
    font-weight: bold;
    color: var(--cor5);
}

.caixa {
    display: flex;
    padding-top: 30px;
    justify-content: center;
}

input::placeholder{
    color: rgb(97, 17, 11);
}

input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;

}

#botao-enter {
    display: block;
    height: 40px;
    width: 70%;
    margin-top: 40px;
    margin: 40px auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--cor2);
}

#botao-enter:hover {
    background-color: var(--cor4);
    color: white;
    transition-duration: .5s;
}

